build/
dist/
*.pyc
*.egg
dump.sql
*.egg-info
venv/
bitcoinxcash/local_settings*
*.orig
cached-static/*
.DS_Store
logs/*
*~
lib/*
*.csv
*.sql
*.bzip2
celerybeat-schedule
*.mo
user-uploads
*.tmp
.codeintel
media