# some very random collection of ignores
# matching my workflow
venv/
build/
dist/
*.pyc
*.egg
dump.sql
*.egg-info
*.orig
cached-static/*
.DS_Store
logs/*
*~
lib/*
*.csv
*.sql
*.bzip2
*.mo
*.tmp
.codeintel
user-uploads
media
example/localsettings.py
